<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjp.dao.AllocationDao">
    <select id="listAllocation" resultType="yjp.pojo.Allocation">
        select *
        from city.allocation;
    </select>
    <update id="backAllocation" parameterType="yjp.pojo.Allocation">
        update city.allocation
        set is_valid = 0
        where id = #{id}
    </update>
    <select id="checkAllocation" parameterType="int" resultType="yjp.pojo.Allocation">
        select *
        from city.allocation
        where id = #{id};
    </select>
</mapper>