<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjp.dao.ContestDao">
    <select id="listContest" resultType="yjp.pojo.Contest">
        select *
        from city.contest;
    </select>
    <insert id="addContest" parameterType="yjp.pojo.Contest">
        insert into city.contest(name, time_limit, question_number, archive_status, contest_id)
        values (#{name}, #{time_limit}, #{question_number}, #{archive_status}, #{contest_id})
    </insert>
    <update id="modifyContest" parameterType="yjp.pojo.Contest">
        update city.contest
        set name            = #{name},
            time_limit      = #{time_limit},
            question_number = #{question_number},
            archive_status  = #{archive_status},
            contest_id      = #{contest_id}
        where id = #{id}
    </update>
    <update id="setImageUrl" parameterType="yjp.pojo.Contest">
        update city.contest
        set image = #{image}
        where id = #{id}
    </update>
    <select id="searchContest" parameterType="yjp.pojo.query.ContestQuery" resultType="yjp.pojo.Contest">
        select *
        from city.contest
        <where>
            <if test="name != null and name != ''">
            and `name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="getContest" parameterType="int" resultType="yjp.pojo.Contest">
        select *
        from city.contest
        where id = #{id};
    </select>
</mapper>