<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjp.dao.RuleItemDao">
    <select id="queryRuleItem" parameterType="int" resultType="yjp.pojo.RuleItem">
        select * from city.rule_item where 1=1
        <if test="rule_id != null and rule_id != ''">
            and rule_id = #{rule_id}
        </if>
    </select>
</mapper>