<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjp.dao.TeamDao">
    <select id="listTeam" resultType="yjp.pojo.Team">
        select *
        from city.team;
    </select>
    <insert id="addTeam" parameterType="yjp.pojo.Team">
        insert into city.team(name, question_id, participat, team_leader, leader_school, leader_phone, advisor, team_no_rematch, is_rematch, submit_date)
        values (#{name}, #{question_id}, #{participat}, #{team_leader}, #{leader_school}, #{leader_phone}, #{advisor},#{team_no_rematch},#{is_rematch},#{submit_date})
    </insert>
    <delete id="deleteTeam" parameterType="int">
        delete
        from city.team
        where id = #{id}
    </delete>
    <update id="modifyTeam" parameterType="yjp.pojo.Team">
        update city.team
        set name            = #{name},
            question_id      = #{question_id},
            participat = #{participat},
            team_leader  = #{team_leader},
            leader_school      = #{leader_school},
            leader_phone  = #{leader_phone},
            advisor = #{advisor},
            team_no_rematch = #{team_no_rematch},
            is_rematch = #{is_rematch},
            submit_date = #{submit_date}
        where id = #{id}
    </update>
    <select id="getTeamById" parameterType="int" resultType="yjp.pojo.Team">
        select *
        from city.team
        where id = #{id};
    </select>
</mapper>